:root {
  --white:  #ffffff;
  --black:  #141414;
  --grey:  #afaeae; 
  --grey2:   #333333; 
  --dark-grey:  #1f1f1f;
  --green: #c5f82a;
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  outline: none;
  margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
  font-size: 14px;
  text-decoration: none;
  list-style: none;
}
body, html {
  height: 100%;
}
main {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  color: var(--white);
  background-color: var(--black);
  padding: 0 2%;
}

section {
  width: 100%;
  max-width: 500px;
  background-color: var(--dark-grey);
  text-align: center;
  border-radius: 10px;
  padding: 50px 3%;
}

.image {
  width: 120px;
  border-radius: 50%;
}

.info {
  margin: 20px 0;
}

.info h2 {
  font-size: 29px;
}
.info-person {
  margin: 20px 0;
}

.state {
  margin-top: 4px;
  color: var(--green);
  font-weight: bold;
}

.about-me {
  color: var(--grey);
  font-weight: bold;
}

.links li a {
  color: var(--white);
  font-weight: 500;
  display: block;
  background-color: var(--grey2);
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 10px;
  
}

.links li a:hover { 
  background-color: var(--green);
  color: var(--dark-grey);
  transition: ease  1s;
}
